/* Place CSS styles here */
body {
    background: #ab7039;
    text-align: center; 
    width: 80%;
    margin: auto;
}

nav {
    align-content:center;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background-color: #ffff00;
    padding: 8px 12px;
    border-radius: 12px;
    margin-right: 18px;
    text-decoration: none;
}

img { 
    border: 10px solid #0000ff; 
}

.contact-list {
    list-style-position: inside;

}